<h2>My Account</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: "form" }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, autofocus: true, required: true %>
  </div>

  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email, required: true %>
  </div>

  <div class="field">
    <%= f.label :website %>
    <%= f.url_field :website %>
  </div>

  <div class="field">
    <label>Twitter</label>
    <%= f.text_field :twitter_username %>
  </div>

  <div class="well">
    <div class="field">
      <%= f.label :password %>
      <%= f.password_field :password, autocomplete: "off" %>
      <br><em>(leave blank if you don't want to change it)</em>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>
  </div>

  <div class="field">
    <%= f.label :current_password %>
    <%= f.password_field :current_password, autocomplete: "off", required: true %>
    <br><em>(we need your current password to confirm your changes)</em>
  </div>

  <div class="actions">
    <%= f.submit "Update", class: "btn btn-success" %>
  </div>
<% end %>

