<table class="table table-condensed table-hover">
  <thead>
    <tr>
      <th></th>
      <th><%= type %></th>
      <th>User</th>
      <th>Images</th>
    </tr>
  </thead>
  <tbody>
    <% @approval_requests.where(approvable_type: type).each do |req| %>
      <tr>
        <td><strong><%= link_to "View", edit_admin_approval_request_path(req) %></strong></td>
        <td><%= link_to req.approvable.title, url_for(req.approvable) %></td>
        <td><%= link_to req.user.name, user_path(req.user) %></td>
        <td><%= req.images.count %></td>
      </tr>
    <% end %>
  </tbody>

</table>