<div class="user">
  <div class="row">
    <%= image_tag @user.gravatar_url, class: "avatar pull-left" %>
    <%= page_heading :h1, @user.name %>
    <%= render "compliment" %>
  </div>

  <div class="row">
    <% @user.links.each do |link| %>
      <div class="link"><h4><%= link_to link.url, link.url %></h4></div>
    <% end %>
  </div>

  <div class="row">

    <% if @user.games.any? %>
      <div class="col-sm-6">
        <h4>Games</h4>
        <% @user.games.each do |game| %>
          <div class="game-card">
            <a href="<%= game_url(game) %>">
              <% screenshot_url = game.images.first&.url || asset_url("rocket-ship") %>
              <%= image_tag screenshot_url %>
              <br>
              <%= game.title %>
            </a>
          </div>
        <% end %>
      </div>
    <% end %>


    <div class="col-sm-6">
      <h4>Winnitrons</h4>
      <%= render "arcade_machines/list", arcade_machines: @user.arcade_machines %>
    </div>

  </div>




</div>