<%= page_heading :h1, @user.name %>

<%= image_tag @user.gravatar_url %>

<p>
  <% if @user.website %>
    <br>
    <%= link_to @user.website, @user.website %>
  <% end %>
</p>


<strong>Games</strong>
<ul>
  <% @user.games.each do |game| %>
    <li><%= link_to game.title, game %></li>
  <% end %>
</ul>

<strong>Winnitrons</strong>
<ul>
  <% @user.arcade_machines.each do |machine| %>
    <li><%= link_to machine.name, machine %></li>
  <% end %>
</ul>