<div class="user">
  <div class="row">
    <%= image_tag @user.gravatar_url, class: "avatar pull-left" %>
    <%= page_heading :h1, @user.name %>
  </div>

  <div class="row">
    <% @user.links.each do |link| %>
      <div class="link"><h4><%= link_to link.url, link.url %></h4></div>
    <% end %>
  </div>

  <% if @user.games.any? %>
    <div class="row">
      <h4>Games</h4>
      <%= render "games/list", games: @user.games %>
    </div>
  <% end %>

  <% if @user.arcade_machines.any? %>
    <div class="row">
      <h4>Winnitrons</h4>
      <%= render "arcade_machines/list", arcade_machines: @user.arcade_machines %>
    </div>
  <% end %>

  <% if @user.playlists.any? %>
    <div class="row">
      <h4>Playlists</h4>
      <%= render "playlists/list", playlists: @user.playlists %>
    </div>
  <% end %>

</div>