<h2>Forgot your password?</h2>
<p><em>get your head in the game</em></p>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: "form" }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="actions">
    <%= f.submit "Send me reset password instructions", class: "btn btn-success" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
