<div class="page">
  <%= page_heading :h2, 'Forgot your password?' %>

  <p><em>get your head in the game</em></p>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: "form" }) do |f| %>
    <%= devise_error_messages! %>

    <div class="row form-group">
      <%= f.label :email, class: "col-sm-3 control-label" %>
      <div class="col-sm-9">
        <%= f.email_field :email, required: true, autofocus: true, class: "form-control" %>
      </div>
    </div>

    <div class="actions from-group">
      <div class="offset-sm-3 col-sm-9">
        <%= f.submit "Send me reset password instructions", class: "btn btn-success" %>
      </div>
    </div>
  <% end %>

  <div class="clearfix"></div>
</div>