<!--
In-Line Item Cards

Used for Users, Winnitrons, Games
And other things with an image and title and description

type = [small, wide, square]
item_link
item_image_url
item_name
item_info
-->


<% if defined?(item_actions_partial) %>
  <span class="pull-right item-actions">
    <%= render item_actions_partial %>
  </span>
<% end %>

<a href="<%= item_link %>" class="item-card item-card-wide row">
  <div class="col-xs-12 item-card-image" style="
  background: linear-gradient(
    rgba(0, 0, 0, 0.45),
    rgba(0, 0, 0, 0.45)
  ),url(<%= item_image_url %>);
  background-position: center center;
  background-size: cover;
  ">
    <div class="item-card-details">
      <h3 class="item-card-title"><%= item_name %></h3>
      <h4 class="item-card-info"><%= item_info %></h4>
    </div>
  </div>
</a>
