<!--

  NAVBAR
  Stuff that gets put above the right side content.
  I'm guessing this will change cause it's gonna need to be pretty dynamic.

  See application.html.erb for where it gets rendered.

-->

<div class="navbar navbar-default navbar-static-top">
  <div class="container">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <div class="navbar-collapse collapse navbar-responsive-collapse">
      <ul class="nav navbar-nav">
        <li><%= link_to "Home", dash_path %></li>
        <li><%= link_to "Games", games_path %></li>
        <li><%= link_to "Winnitrons", arcade_machines_path %></li>
        <li><%= link_to "Playlists", playlists_path %></li>

        <form  action="<%= search_path %>" method="GET"  class="navbar-form navbar-left">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Search" name="kw" value="<%= params['kw'] %>">
            <button type="submit" class="btn btn-default">🔍</button>
          </div>
        </form>
      </ul>

      <% if current_user&.admin? %>
        <ul class="nav navbar-nav pull-right">
          <li><%= link_to "Users", admin_users_path %></li>
        </ul>
      <% end %>

    </div>
  </div>
</div>
