<!--

SIDEBAR
The Sidebar only appears when the user is logged in.

See application.html.erb for where it gets rendered.

-->

<div class="sidebar my-stuff">

  <!-- WINNITRON BRAND STUFF -->

  <div class="col-xs-12">
    <h1>
      THE WINNITRON NETWORK
    </h1>
  </div>
  <div class="col-xs-12">
    <ul class="nav navbar-nav">
      <li><%= link_to "my account", edit_user_registration_path  %></li>
      <li><%= link_to "my profile", current_user %></li>
      <li><%= link_to "sign out", destroy_user_session_path, method: :delete  %></li>
    </ul>
  </div>



  <!-- USER CONTENT -->

  <% if current_user.builder? %>
  <div>
    <h3>
      My Winnitrons
      <span class="pull-right">
        <a href="<%= new_arcade_machine_path %>">
          <i class="fa fa-plus-circle" aria-hidden="true"></i>
        </a>
      </span>
    </h3>

    <% current_user.arcade_machines.each do |machine| %>
      <%=
        render "shared/item_cards_small",
        itemName: machine.name,
        itemInfo: machine.location,
        itemLink: arcade_machine_path(machine),
        itemImageURL: machine.cover_image.url
      %>
    <% end %>

  </div>

  <hr/>

  <% end %>


  <div>
    <h3>
      My Games
      <span class="pull-right">
        <a href="<%= new_game_path %>" title="Add a game">
          <i class="fa fa-plus-circle" aria-hidden="true"></i>
        </a>
      </span>
    </h3>


    <% current_user.games.each do |game| %>
      <%=
        render "shared/item_cards_wide",
        itemName: game.title,
        itemInfo: "",
        itemLink: game_path(game),
        itemImageURL: game.cover_image.url
      %>
    <% end %>
  </div>

  <hr />

  <div>
    <h3>
      My Playlists
      <span class="pull-right">
        <a href="<%= new_playlist_path %>" title="Create a playlist">
          <i class="fa fa-plus-circle" aria-hidden="true"></i>
        </a>
      </span>
    </h3>

    <% current_user.playlists.each do |playlist| %>
      <div class="playlist">
        <strong><%= link_to playlist.title, playlist_path(playlist) %></strong>
      </div>
    <% end %>
  </div>

  <br/><br/>
</div>
