<!--

SIDEBAR
The Sidebar only appears when the user is logged in.

See application.html.erb for where it gets rendered.

-->

<div class="sidebar my-stuff">

  <!-- WINNITRON BRAND STUFF -->

  <div class="col-xs-12">
    <ul class="nav navbar-nav">
      <li><%= link_to "my account", edit_user_registration_path  %></li>
      <li><%= link_to "my profile", current_user %></li>
      <li><%= link_to "feedback", feedback_path %></li>
    </ul>
  </div>



  <!-- USER CONTENT -->

  <% if current_user.builder? || current_user.admin? %>
  <div>
    <h3>
      My Winnitrons
      <span class="pull-right">
        <a href="<%= new_arcade_machine_path %>">
          <i class="fa fa-plus-circle" aria-hidden="true"></i>
        </a>
      </span>
    </h3>

    <% current_user.arcade_machines.each do |machine| %>
      <%= render "shared/item_card_small", item: machine, info: machine.location %>
    <% end %>

  </div>

  <hr/>

  <% end %>


  <div>
    <h3>
      My Games
      <span class="pull-right">
        <a href="<%= new_game_path %>" title="Add a game">
          <i class="fa fa-plus-circle" aria-hidden="true"></i>
        </a>
      </span>
    </h3>


    <% current_user.games.each do |game| %>
      <%= render "shared/item_card_wide", item: game, optional: { width: 375 } %>
    <% end %>
  </div>

  <hr />

  <div>
    <h3>
      My Playlists
      <span class="pull-right">
        <a href="<%= new_playlist_path %>" title="Create a playlist">
          <i class="fa fa-plus-circle" aria-hidden="true"></i>
        </a>
      </span>
    </h3>

    <% if current_user.playlists.empty? %>
      <div class="playlist">
        <%= link_to "Create your first playlist!", new_playlist_path %>
      </div>
    <% end %>

    <% current_user.playlists.each do |playlist| %>
      <div class="playlist">
        <%= render "shared/item_card_wide", item: playlist, optional: { width: 375 } %>
      </div>
    <% end %>
  </div>

  <br/><br/>
</div>
