<% set_title 'Dashboard' %>

<div class="dash">
  <h1>Whatcha up to?</h1>

  <div class="dash-item card mt-5">
    <div class="card-body">
      <a href="<%= new_game_path %>">
        <%= image_tag "rocket-ship.png", class: "icon" %>
        <span class="text">Submit a game</span>
      </a>
    </div>
  </div>

  <div class="dash-item card mt-5">
    <div class="card-body">
      <a href="<%= new_arcade_machine_path %>">
        <%= image_tag "game-console.png", class: "icon" %>
        <span class="text">Register a Winnitron</span>
      </a>
    </div>
  </div>

  <div class="dash-item card mt-5">
    <div class="card-body">
      <a href="<%= new_playlist_path %>">
        <%= image_tag "add-list.png", class: "icon" %>
        <span class="text">Make a playlist</span>
      </a>
    </div>
  </div>

</div>
