<%= form_for(@game) do |f| %>
  <% if @game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% @game.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.label :title %>
    <%= f.text_field :title, required: true %>
  </div>
  <div>
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <div>
    <label>Filename</label>
    <pre class="js-filename"><%= @game.s3_key.sub("games/", "") %></pre>
    (Last modified <%= @game.s3_last_modified %>)
  </div>


  <div class="actions">
    <%= f.submit class: "btn btn-success" %>
  </div>
<% end %>
