<%= form_for(@game, html: { class: "game form form-horizontal" }) do |f| %>
  <%= render "shared/errors", object: @game %>

  <div class="form-group">
    <%= f.label :title, class: "col-sm-3 control-label" %>
    <div class="col-sm-9">
      <%= f.text_field :title, required: true, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :description, class: "col-sm-3 control-label" %>
    <div class="col-sm-9">
      <%= f.text_area :description, class: "form-control" %>
    </div>
  </div>

  <%= render "shared/links_form", f: f, additional_link_types: Game::CUSTOM_LINK_TYPES %>

  <div class="form-group">
    <%= f.label :min_players, class: "col-sm-3 control-label" %>
    <div class="col-sm-2">
      <%= f.number_field :min_players, class: "form-control", required: true %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :max_players, class: "col-sm-3 control-label" %>
    <div class="col-sm-2">
      <%= f.number_field :max_players, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-3 control-label">Tags</label>
    <div class="col-sm-9">
      <%= f.text_field :tag_list, 'data-role'=>'tagsinput', value: @game.tag_list.join(","), class: "form-control" %>
    </div>
  </div>

  <%= f.hidden_field :uuid %>
<% end %>

<div>
  <div class="col-sm-3"></div>
  <div class="col-sm-9">
    <div class="panel panel-default">
      <div class="panel-heading">Media</div>
      <div class="panel-body">
        <p>pretty important lol</p>
        <%=
          render "shared/uploader",
            label: "Upload a new zip file:",
            form_options: { callback_url: create_zipfile_url(uuid: @game.uuid),
                            key: "games/#{@game.uuid}-${filename}",
                            key_starts_with: "games/" },
            accept_filetypes: ".zip"
        %>

        <%=
          render "shared/uploader",
            label: "Upload an image:",
            form_options: { callback_url: create_image_url(uuid: @game.uuid),
                            key: "games/#{@game.uuid}-image-${filename}",
                            key_starts_with: "games/",
                          },
            additional_data: { parent_type: "game" },
            accept_filetypes: ".jpg,.jpeg,.gif,.png"
        %>
      </div>
    </div>
  </div>
</div>

<div class="actions form-group">
  <div class="col-sm-offset-3 col-sm-9">
    <%= button_tag "Save", class: "game-save btn btn-success" %>
  </div>
</div>
