<!--
GAME GRID VIEW
-->

<div class="row list-group">
  <% games.each do |game| %>
    <div class="item col-lg-4 tall">

      <div class="thumbnail">
        <a
          class="quiet-link image-box"
          href="<%= game_path(game) %>"
          style="background: url(<%= game.cover_image.url(w: 320) %>) center center; background-size: cover;">
        </a>
        <div class="caption">
          <h4 class="group inner list-group-item-heading title">
            <a class="quiet-link" href="<%= game_path(game) %>">
              <%= game.title %>
            </a>
          </h4>
          <div class="group inner list-group-item-text description">
            <%= simple_format(game.description.squish) %>
          </div>

          <%= render "games/edit_buttons", game: game %>
        </div>



      </div>
    </div>
  <% end %>
</div>
