<% controls = "games/card_controls" if !defined?(controls) || controls.nil? %>

<div class="games row col-lg-12 col-sm-12">

  <% games.each do |game| %>
    <div class="col-lg-4 col-sm-6 portfolio-item">
      <div class="card h-100">
        <span class="card-img-container">
          <img class="card-img" src="<%= game.cover_image.url(w: 340, h: 200) %>" alt="<%= game.title %>" title="<%= game.title %>">
        </span>

        <div class="card-img-overlay">
          <h4 class="card-title text-center invisible">
            <a href="<%= game_path(game) %>" class=""><%= game.title %></a>
          </h4>
        </div>

        <%= render controls, game: game %>
      </div>


    </div>
  <% end %>

</div> <!-- /.row -->

<% if user_signed_in? %>
  <%= render "games/playlist_modal" %>
<% end %>