<!--
GAME GRID VIEW
-->

<div class="row list-group">
  <% games.each do |game| %>
  <div class="item col-sm-4">

    <div class="thumbnail">
      <a class="quiet-link" href="<%= game_path(game) %>">
        <img class="group list-group-image" src="http://placehold.it/400x250/33cccc/fff?text=image" alt="" />
      </a>
      <div class="caption">
        <h4 class="group inner list-group-item-heading">
          <a class="quiet-link" href="<%= game_path(game) %>">
            <%= game.title %>
          </a>
        </h4>
        <p class="group inner list-group-item-text">
          <%= game.description %>
        </p>
      </div>
      

      <!-- EDIT BUTTONS -->

      <% if user_signed_in? %>

        <!-- Add to Winnitron dropdown -->
        <div class="dropdown">
          <% if !current_user.games.empty? %>
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              Add to Playlist
              <span class="caret"></span>
            </button>

            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
              <% current_user.playlists.each do |playlist| %>
                <li><%= link_to playlist.title, playlist_path(playlist) %></li>
              <% end %>
            </ul>
          <% end %>

          <!-- Editing Buttons if Owned -->
          <% if current_user.owns?(game) %>
            <button class="btn btn-success">
              Edit
            </button>
            <button class="btn btn-danger" type="button">
              Delete
              <!-- NEED A CHECK BEFORE DELETE HERE -->
            </button>
          <% end %>
        </div>

      <% end %>

    </div>
  </div>
  <% end %>
</div>
