<h1>Editing <em><%= @game.title %></em></h1>

<div class="uploader">
  <label>Upload a new zip file:</label>
  <%= s3_uploader_form id: "s3-exec-uploader",
                       callback_url: s3_callback_game_url(@game),
                       key: "games/${filename}",
                       key_starts_with: "games/" do %>
    <%= file_field_tag :file %>
  <% end %>

  <div class="js-upload-status alert alert-success" style="visibility: hidden"></div>
</div>

<script id="template-upload" type="text/x-tmpl">
  <div id="file-{%=o.unique_id%}" class="upload">
    {%=o.name%}
    <div class="progress"><div class="bar" style="width: 0%"></div></div>
  </div>
</script>

<%= render 'form' %>

<%= link_to 'Show', @game %> |
<%= link_to 'Back', games_path %>
