<%= page_heading :h1, "<em>#{@game.title}</em>" %>

<%= render "breadcrumbs", active: :images %>

<div class="col-sm-offset-1 col-sm-9">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row current-images">
        <% @game.images.each do |image| %>
          <a href="<%= image.url %>">
            <img src="<%= image.url(w: 150, h: 150) %>">
          </a>
        <% end %>
      </div>

      <div class="row">
        <%=
          render "shared/uploader",
            form_id: "image-uploader",
            label: "Upload:",
            form_options: { callback_url: images_url,
                            key: "games/#{@game.id}-image-${filename}",
                            key_starts_with: "games/",
                          },
            additional_data: { parent_type: "Game", parent_id: @game.id },
            accept_filetypes: "image/*"
        %>
      </div>
    </div>
  </div>
</div>
<div class="clearfix"></div>

<% if !@game.published? %>
  <div class="col-sm-offset-8 col-sm-2">
    <%= link_to "Next Step", zip_game_path(@game.slug), class: "btn btn-success pull-right" %>
  </div>
<% end %>