<p id="notice"><%= notice %></p>

<h1>Games</h1>

<p>
  <%= link_to "Add your Game!", new_game_path, class: "btn btn-success" %>
</p>

<form action="<%= listings_path %>" method="post">

  <table class="table table-condensed">
    <thead>
      <td></td>
      <td>
        <a href="#" class="js-select-all">select all</a>
        /
        <a href="#" class="js-select-none">select none</a>
      </td>
    </thead>

    <tbody>
      <% @games.each do |game| %>
        <tr>
          <td><strong><%= link_to game.title, game_path(game) %></strong></td>
          <td>
            <%= check_box_tag "games[]", game.id, false, class: "js-add-game-to-playlist" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <p>
    <%= hidden_field_tag "authenticity_token", form_authenticity_token %>
    
    Add selected to:

    <%
      grouped = { 
                  "Winnitrons" => current_user.arcade_machines.map { |a| [a.name, "am-#{a.id}"] },
                  "Playlists"  => current_user.playlists.map { |p| [p.title, "pl-#{p.id}"] },
                }
    %>
    <%= select_tag "target_id", grouped_options_for_select(grouped) %>
    

    <input type="submit" value="add 'em" class="btn js-add-games-button">
  </p>

</form>


