<div class="col-sm-12 text-right sorting-options">
  sort:
  <% ["new", "name"].each do |sort| %>
    <a href="?sort=<%= sort %>" class="<%= @active_sort[sort.to_sym] %>"><%= sort %></a>
  <% end %>
</div>

<%= page_heading :h1, "Games" %>


<%= render "list", games: @mine if @mine.any? %>
<%= render "list", games: @theirs %>
