<script>
  var origins = {}

  $(function() {
    $(".game").draggable({
      containment: ".games",
      snap: ".playlist",
      revert: true,
      create: function(event, element) {  
      },
      start: function(event, element) {
      },
      drag: function(event, element) {
      },
      stop: function(event, element) {
      }
    });

    $(".playlist").droppable({
      drop: function(event, element) {
        var game_id = $(element.draggable).attr("data-game-id");
        var playlist_id = $(this).attr("data-playlist-id");

        $.post("/listings", {
          playlist_id: playlist_id,
          game_id: game_id
        });

      }
    });
  });
</script>

<h1>So many Games!</h1>

<div>
  <%= link_to "Add your Game!", new_game_path, class: "btn btn-success" %>
</div>

<div class="games col-lg-12" style="border: 2px solid green">

  <div class="game-list col-lg-5">
    <% @games.each do |game| %>

      <div class="row">
        <div class="game col-sm-5" data-game-id="<%= game.id %>">
          <%= link_to game.title, game %>
        </div>
      </div>

    <% end %>
  </div>

  <% if user_signed_in?%>
    <div class="playlist-list col-lg-4">

      <% current_user.playlists.each do |playlist| %>
        <div class="row">
          <div class="playlist" data-playlist-id="<%= playlist.id %>">
            <%= link_to playlist.title, playlist %>
          </div>
        </div>
      <% end %>

    </div>
  <% end %>

</div>