<script>
  var origins = {}

  $(function() {
    $(".game").draggable({
      containment: ".games",
      // snap: ".playlist",
      revert: true,
      create: function(event, element) {  
      },
      start: function(event, element) {
      },
      drag: function(event, element) {
      },
      stop: function(event, element) {
      }
    });


    $(".playlist").droppable({
      accept: ".game",
      activeClass: "playlist-active-drop-it-here",
      hoverClass: "playlist-hover-born-ready",
      drop: function(event, element) {
        var game_id = $(element.draggable).attr("data-game-id");
        var playlist_id = $(this).attr("data-playlist-id");

        $.post("/listings", {
          playlist_id: playlist_id,
          game_id: game_id,
          success: function() {
            $.get("/games/" + game_id + ".json",
              function(data) {
                var game_link = '<a href="' + data.game.link + '">' + data.game.title + '</a>';
                var game_li = "<li>" + game_link + "</li>";
                $(".playlist[data-playlist-id=" + playlist_id + "] .the-games ").append(game_li)
              });
          }
        });

      }
    });

    $(".collapse-arrow").click(function (e) {
      e.preventDefault();
      $(this).siblings(".the-games").toggle("fast");

      if ($(this).html() == "►")
        $(this).html("▼")
      else
        $(this).html("►")

    });
  });
</script>

<h1>So many Games!</h1>

<div>
  <%= link_to "Add your Game!", new_game_path, class: "btn btn-success" %>
</div>

<div class="games col-lg-12">

  <div class="game-list col-lg-5">
    <h3>&nbsp;</h3>
    <% @games.each do |game| %>

      <div class="row">
        <div class="game col-sm-5" data-game-id="<%= game.id %>">
          <%= link_to game.title, game %>
        </div>
      </div>

    <% end %>
  </div>

  <% if user_signed_in?%>
    <div class="playlist-list col-lg-4">
      <h3>my playlists</h3>
      <% current_user.playlists.each do |playlist| %>
        <div class="row">
          <div class="playlist" data-playlist-id="<%= playlist.id %>">
            <a href="" class="collapse-arrow">►</a>
            <%= link_to playlist.title, playlist %>
            <ul class="the-games">
              <% playlist.games.each do |game| %>
                <li>
                  <%= link_to game.title, game %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      <% end %>

    </div>
  <% end %>

</div>