<h1>So many Games!</h1>

<div>
  <%= link_to "Add your Game!", new_game_path, class: "btn btn-success" %>
</div>

<div class="games col-lg-12">

  <div class="game-list col-lg-5">
    <h3>&nbsp;</h3>
    <% @games.each do |game| %>

      <div class="row">
        <div class="game col-sm-5" data-game-id="<%= game.id %>">
          <%= link_to game.title, game %>
        </div>
      </div>

    <% end %>
  </div>

  <% if user_signed_in?%>
    <div class="playlist-list col-lg-4">
      <h3>my playlists</h3>
      <% current_user.playlists.each do |playlist| %>
        <div class="row">
          <div class="playlist" data-playlist-id="<%= playlist.id %>">
            <a href="" class="collapse-arrow">►</a>
            <%= link_to playlist.title, playlist %>
            <ul class="the-games">
              <% playlist.games.each do |game| %>
                <li>
                  <%= link_to game.title, game %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      <% end %>

    </div>
  <% end %>

</div>