<h1>Games</h1>

<p>
  <%= link_to "Add your Game!", new_game_path, class: "btn btn-success" %>
</p>

<form action="<%= listings_path %>" method="post">

  <table class="table table-condensed">
    <thead>
      <tr>
        <td></td>
        <td>
          <a href="#" class="js-select-all">select all</a>
          /
          <a href="#" class="js-select-none">select none</a>
        </td>
     </tr>
    </thead>

    <tbody>
      <% mine, theirs = @games.partition { |g| user_signed_in? && current_user.owns?(g) } %>
      <tr>
        <td colspan="3">MY GAMES!</td>
      </tr>

      <% mine.each do |game| %>
        <tr>
          <td><strong><%= link_to game.title, game_path(game) %></strong></td>
          <td>
            <%= check_box_tag "games[]", game.id, false, class: "js-add-game-to-playlist" %>
          </td>
        </tr>
      <% end %>

      <tr><td colspan="3">&nbsp;</td></tr>
      <tr>
        <td colspan="3">EVERYONE ELSE'S GAMES!</td>
      </tr>

      <% theirs.each do |game| %>
        <tr>
          <td><strong><%= link_to game.title, game_path(game) %></strong></td>
          <td>
            <%= check_box_tag "games[]", game.id, false, class: "js-add-game-to-playlist" %>
          </td>
        </tr>
      <% end %>

    </tbody>
  </table>

  <% if user_signed_in? %>
    <p>
      <%= hidden_field_tag "authenticity_token", form_authenticity_token %>
      
      Add selected to:
      <%= select_tag "target_id", options_for_select(current_user.playlists.map { |p| [p.title, "pl-#{p.id}"] }) %>

      <input type="submit" value="add 'em" class="btn js-add-games-button">
    </p>
  <% end %>

</form>


