<%= page_heading :h1, "<em>#{@game.title}</em>" %>

<%= render "breadcrumbs", active: :keys %>

<div class="col-sm-offset-1 col-sm-10 template-select">

  <form action="" class="form form-horizontal template-select">
    <div class="form-group">
      <span class="col-sm-2">
        <label class="control-label">Key template:</label>
      </span>
      <span class="col-sm-5">
        <select name="template" class="form-control template">
          <%
            templates = {
              "default" => "Default Winnitron",
              "pico8"   => "PICO8",
              "custom"  => "Custom"
            }
          %>
          <% templates.each do |val, human| %>
          <%
            sel = val == @game.key_map.template ? "selected='selected'" : ""
          %>
            <option value="<%= val %>" <%= sel %>><%= human %></option>
          <% end %>
        </select>
      </span>
      <span class="col-sm-1">
        <button class="apply-template btn btn-primary">apply</button>
      </span>
    </div>
    <span class="col-sm-offset-2 note custom-warning invisible">
      Games using custom key bindings will only be playable on Winnitrons running
      Launcher v2.1 or later.
    </span>
  </form>

</div>

<div class="key-selector col-sm-offset-1 col-sm-10">
  <div class="panel panel-default">
    <div class="panel-body">
      <ul class="nav nav-pills">
        <% (1..@game.max_players).each do |num| %>
        <li class="tab player<%=num%>"><a href="#player<%= num %>" class="player<%= num %>">Player <%= num %></a></li>
        <% end %>
      </ul>

      <div class="tab-content">

        <%= form_tag save_keys_game_path(@game.slug), method: :put, remote: true, id: "save-keys" do %>

          <% (1..@game.max_players).each do |num| %>
            <div id="player<%= num %>" role="tabpanel" class="selected-keys tab-pane">
              <%= render "key_selector", player: num.to_s %>
            </div>
          <% end %>

          <input name="template" value="<%= @game.key_map.template %>" type="hidden">
          <%= submit_tag "Save custom keys", class: "btn btn-success", disabled: @game.key_map.template != "custom" %>

        <% end %>

        </form>
      </div>
    </div>
  </div>
</div>

<%= render "keyboard" %>

<div class="col-lg-12">&nbsp;</div>

