<%= page_heading :h1, "<em>#{@game.title}</em>" %>

<%= render "breadcrumbs", active: :keys %>

<div class="col-sm-offset-1 col-sm-10 template-select">

  <div class="alert alert-info">
    <p>Hey what's up <strong>#AGBIC</strong> jammers!</p>
    <p>
      Yeah, right now we're asking you to stick to the default key map, but don't worry: a new release of the
      client-side Winnitron Launcher (i.e., the software that runs on an arcade machine and connets to this site to get
      its games) is <em>right</em> around the corner - like, maybe tomorrow? - which means in the very
      near future we'll be enabling this feature here and you'll be able to submit games with whatever key bindings
      you like.
    </p>
    <p>Thanks again!</p>
  </div>
  <p>&nbsp;</p>

  <form action="" class="form form-horizontal template-select">
    <div class="form-group">
      <span class="col-sm-2">
        <label class="control-label">Key template:</label>
      </span>
      <span class="col-sm-5">
        <select name="template" class="form-control template" disabled="disabled">
          <%
            templates = {
              "default" => "Default Winnitron",
              "pico8"   => "PICO8",
              "custom"  => "Custom"
            }
          %>
          <% templates.each do |val, human| %>
          <%
            sel = val == @game.key_map.template ? "selected='selected'" : ""
          %>
            <option value="<%= val %>" <%= sel %>><%= human %></option>
          <% end %>
        </select>
      </span>
      <span class="col-sm-1">
        <button class="apply-template btn btn-primary" disabled="disabled">apply</button>
      </span>
    </div>
    <span class="col-sm-offset-2 note custom-warning invisible">
      Games using custom key bindings will only be playable on Winnitrons running
      Launcher v2.1 or later.
    </span>
  </form>

</div>

<div class="key-selector col-sm-offset-1 col-sm-10">
  <div class="panel panel-default">
    <div class="panel-body">
      <ul class="nav nav-pills">
        <% (1..@game.max_players).each do |num| %>
        <li class="tab player<%=num%>"><a href="#player<%= num %>" class="player<%= num %>">Player <%= num %></a></li>
        <% end %>
      </ul>

      <div class="tab-content">

        <%= form_tag save_keys_game_path(@game.slug), method: :put, remote: true, id: "save-keys" do %>

          <% (1..@game.max_players).each do |num| %>
            <div id="player<%= num %>" role="tabpanel" class="selected-keys tab-pane">
              <%= render "key_selector", player: num.to_s %>
            </div>
          <% end %>

          <input name="template" value="<%= @game.key_map.template %>" type="hidden">

          <%= submit_tag "Save custom keys", class: "btn btn-success pull-right", disabled: @game.key_map.template != "custom" %>
          <span id="save-keys-check" class="check-mark pull-right">✓ <em>nailed it</em></span>

        <% end %>

        </form>
      </div>
    </div>
  </div>
</div>

<%= render "keyboard" %>

<div class="col-lg-12">&nbsp;</div>

<% if !@game.published? %>
  <div class="col-sm-offset-9 col-sm-2">
    <%= link_to "Next Step", checklist_game_path(@game.slug), class: "next-step btn btn-success pull-right" %>
  </div>
<% end %>

