<%= page_heading :h1, "<em>#{@game.title}</em>" %>

<%= render "breadcrumbs", active: :keys %>

<div class="col-sm-offset-1 col-sm-10 template-select">

  <form action="" class="form form-horizontal template-select">
    <div class="form-group">
      <span class="col-sm-2">
        <label class="control-label">Key template:</label>
      </span>
      <span class="col-sm-5">
        <select name="template" class="form-control template">
          <option value="default" data-desc="">Default Winnitron</option>
          <option value="pico8" data-desc="">PICO8</option>
          <option value="custom" data-desc="">Custom</option>
        </select>
      </span>
      <span class="col-sm-1">
        <button class="apply-template btn btn-primary">apply</button>
      </span>
    </div>
    <span class="col-sm-offset-2 note custom-warning invisible">
      Games using custom key bindings will only be playable on Winnitrons running
      Launcher v2.1 or later.
    </span>
  </form>

</div>

<div class="key-selector col-sm-offset-1 col-sm-10">
  <div class="panel panel-default">
    <div class="panel-body">
      <ul class="nav nav-pills">
        <% (1..@game.max_players).each do |num| %>
        <li class="tab player<%=num%>"><a href="#player<%= num %>" class="player<%= num %>">Player <%= num %></a></li>
        <% end %>
      </ul>

      <div class="tab-content">

        <% (1..@game.max_players).each do |num| %>
          <div id="player<%= num %>" role="tabpanel" class="selected-keys tab-pane">
            <%= render "key_selector", player: num %>
          </div>
        <% end %>

      </div>
    </div>
  </div>
</div>

<%= render "keyboard" %>

<% if !@game.published? %>
  <div class="col-sm-offset-8 col-sm-2">
    <%= form_tag publish_game_path(@game.slug), method: :put do %>
      <%= submit_tag "Publish!", class: "publish-button btn btn-success pull-right" %>
    <% end %>
  </div>
<% end %>
