<%= page_heading :h1, "<em>#{@game.title}</em> high scores" %>

<div class="col-lg-12 mt-5">

  <table class="table table-condensed table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Score</th>
        <th>Winnitron</th>
        <th>Date</th>
      </tr>
    </thead>

    <tbody>
      <% @scores.each do |score| %>
        <tr>
          <td><%= score.name %></td>
          <td>
            <code><%= score.score %></code>
          </td>
          <td>
            <% if score.arcade_machine %>
              <%= link_to score.arcade_machine.title, score.arcade_machine %>
            <% else %>
              <span style="color: #888">None recorded</span>
            <% end %>
          </td>
          <td><%= score.created_at.utc.to_s(:long) %>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>