<%
content_for(:title) { @game.title }
content_for(:image) { @game.cover_image.url(w: 300, h: 300) }
%>

<div class="float-right">
  <%= render "edit_buttons", game: @game, show_stats: true %>
</div>

<h1 class="mt-4 mb-3">
  <%= @game.title %>
</h1>

<div class="row">
  <div class="col-md-12">
    <img class="img-fluid" src="<%= @game.cover_image.url(w: 1280) %>" alt="<%= @game.title %>">
  </div>
</div>


<%= render "images/list", imageable: @game %>

<div class="row">
  <div class="col-md-6">
    <div class="float-right">
      <%= @game.users.first.name %>
    </div>

    <div class="mb-1">
      <h4>
        <%=
        if @game.min_players == @game.max_players
          pluralize(@game.min_players, "player")
        else
          "#{@game.min_players}-#{@game.max_players} players"
        end
        %>
      </h4>
    </div>

    <div class="mb-1">
      <%= simple_format(@game.description) %>
    </div>

     <div class="mb-1">
      <% @game.tags.each do |tag| %>
        <%= link_to tag.name, search_path(kw: tag.name) %>
      <% end %>
    </div>

    <hr>

    <div>
      <% @game.links.each do |link| %>
        <div class="pb-2">
          <strong>
            <%= link_to link.url, link.url %>
          </strong>
        </div>
      <% end %>
    </div>

    <hr>

    <div>
      <%= render "shared/comment_list", parent: @game %>
    </div>



  </div>

  <div class="col-md-6">

    <% if @game.arcade_machines.any? %>
      <h4>Playable on these Winnitrons:</h4>

      <% @game.arcade_machines.each do |machine| %>
        <%= render "shared/item_card", item: machine, width: 450 %>
      <% end %>
      <hr/>
    <% end %>


    <h4>Included in these playlists:</h4>
    <% if @game.playlists.any? %>

      <% @game.playlists.each do |playlist| %>
        <%= render "shared/item_card", item: playlist, width: 450 %>
      <% end %>

    <% elsif user_signed_in? %>
      <em><%= @game.title %></em> isn't in any playlists yet.
      Be the first to add it to one:
    <% end %>

  </div>

</div>

