<!--
  GAME VIEW
-->

<%= render "shared/detail_header", image: "http://placehold.it/1024x768/33cccc/fff?text=image", title: @game.title, description: @game.description %>

<div class="game detail">

  <!-- Other Info -->

    <div class="row">

      <div class="col-xs-12">
        <%= render "edit_buttons", game: @game %>
      </div>

      <!-- Metadata -->
      <div class="col-lg-6">

        <h4>Players</h4>
        <p>
          <%=
          if @game.min_players == @game.max_players
            pluralize(@game.min_players, "player")
          else
            "#{@game.min_players}-#{@game.max_players} players"
          end
          %>
        </p>

        <h4>Images</h4>
        <% @game.images.each do |image| %>
        <a href="<%= image.url %>" class="screenshot">
          <img src="<%= image.url %>">
        </a>
        <% end %>

        <h4>Links</h4>
        <% @game.links.each do |link| %>
        <div class="link"><h4><%= link_to link.url, link.url %></h4></div>
        <% end %>

        <h4><%= @game.users.size > 1 ? "Developers" : "Developer" %></h4>
        <%= render "shared/user_cards", users: @game.users %>

        <h4>Tags</h4>
        <p><%= @game.tag_list.join(", ") %></p>
      </div>

      <div class="col-lg-6">
        <p>Winnitron specific stats</p>
        <p>e.g. What winnitrons it's on</p>
        <p>which playlists it's on</p>
      </div>


  </div>
