<%= page_heading :h1, @game.title %>

<div class="well"><%= simple_format(@game.description) %></div>

<p>Added by <%= link_to @game.users.first.name, @game.users.first %></p>
<p>
  <%=
    if @game.min_players == @game.max_players
      pluralize(@game.min_players, "player")
    else
      "#{@game.min_players}-#{@game.max_players} players"
    end
  %>
</p>
<p><%= @game.tag_list.join(", ") %></p>



<% if current_user&.admin? || current_user.owns?(@game) %>
  <%= link_to "Edit", edit_game_path(@game) %>
<% end %>