<!--
  GAME DETAIL VIEW
-->

<%= render "shared/detail_header", image: @game.cover_image.url(w: 980), title: @game.title, description: @game.description %>

<div class="game detail">

  <div class="row">



    <!-- Metadata -->

    <div class="col-md-6">

      <!-- Game Description -->
      <div class="detail-description">
        <%= simple_format(@game.description) %>

        <!-- Edit Buttons -->
        <div class="detail-edit-buttons">
          <%= render "edit_buttons", game: @game %>
        </div>
      </div>

      <hr />

      <div class="col-sm-12">
        <h4>
          <%=
          if @game.min_players == @game.max_players
            pluralize(@game.min_players, "player")
          else
            "#{@game.min_players}-#{@game.max_players} players"
          end
          %>
        </h4>
      </div>

      <% if @game.images.any? %>
        <div class="col-sm-12">
          <h4>Images</h4>
          <%= render "images/list", imageable: @game %>
        </div>
      <% end %>

      <% if @game.links.any? %>
        <div class="col-sm-12">
          <h4>Links</h4>
          <% @game.links.each do |link| %>
          <div class="link"><h4><%= link_to link.url, link.url %></h4></div>
          <% end %>
        </div>
      <% end %>

      <% if @game.tags.any? %>
        <div class="col-sm-12">
          <h4>Tags</h4>
          <p>
            <% @game.tags.each do |tag| %>
              <%= link_to tag.name, search_path(kw: tag.name) %>
            <% end %>
          </p>
        </div>
      <% end %>


      <div class="col-sm-12">
        <h4>Added By</h4>

        <% @game.users.each do |user| %>
          <%= render "shared/item_cards_square",
            item_name: user.name,
            item_info: "",
            item_link: user_url(user),
            item_image_url: user.gravatar_url
          %>
        <% end %>

      </div>
      <div class="clearfix"></div>

    </div>

    <!-- Game Data -->

    <div class="col-md-6">

      <h4>Playable on these Winnitrons:</h4>
      <% if @game.arcade_machines.any? %>
        <% @game.arcade_machines.each do |machine| %>
          <%=
            render "shared/item_cards_wide",
            item_name: machine.title,
            item_info: "",
            item_link: arcade_machine_url(machine),
            item_image_url: machine.cover_image.url(w: 450)
          %>
        <% end %>


      <% else %>
        <h5>
          Not on any Winnitrons yet.
          <br/>
          Be the first to add this to a Winnitron playlist!
        </h5>
      <% end %>

      <hr/>


      <h4>Included in these playlists:</h4>
      <% if @game.playlists.any? %>

        <% @game.playlists.each do |playlist| %>
          <%=
            render "shared/item_cards_wide",
            item_name: playlist.title,
            item_info: "",
            item_link: playlist_url(playlist),
            item_image_url: playlist.cover_image.url(w: 450)
          %>
        <% end %>

      <% else %>
        <h5>
          Not in any playlists yet.
          <br/>
          Be the first to add this to a playlist!
        </h5>
      <% end %>

    </div>



  </div>

</div>
