<!--
  GAME DETAIL VIEW
-->

<%= render "shared/detail_header", image: @game.cover_image.url(w: 980), title: @game.title, description: @game.description %>

<div class="game detail">

  <div class="row">



    <!-- Metadata -->

    <div class="col-md-6">

      <!-- Game Description -->
      <div class="detail-description">
        <%= simple_format(@game.description) %>

        <!-- Edit Buttons -->
        <div class="detail-edit-buttons">
          <%= render "edit_buttons", game: @game %>
        </div>
      </div>

      <hr />

      <div class="col-sm-12">
        <h4>
          <%=
          if @game.min_players == @game.max_players
            pluralize(@game.min_players, "player")
          else
            "#{@game.min_players}-#{@game.max_players} players"
          end
          %>
        </h4>
      </div>

      <% if @game.images.any? %>
        <div class="col-sm-12">
          <h4>Images</h4>
          <%= render "images/list", imageable: @game %>
        </div>
      <% end %>

      <% if @game.links.any? %>
        <div class="col-sm-12">
          <h4>Links</h4>
          <% @game.links.each do |link| %>
          <div class="link"><h4><%= link_to link.url, link.url %></h4></div>
          <% end %>
        </div>
      <% end %>

      <% if @game.tags.any? %>
        <div class="col-sm-12">
          <h4>Tags</h4>
          <p>
            <% @game.tags.each do |tag| %>
              <%= link_to tag.name, search_path(kw: tag.name) %>
            <% end %>
          </p>
        </div>
      <% end %>


      <div class="col-sm-12">
        <h4>Added By</h4>

        <% @game.users.each do |user| %>
          <%= render "shared/item_cards_square",
            item_name: user.name,
            item_info: "",
            item_link: user_url(user),
            item_image_url: user.gravatar_url
          %>
        <% end %>

      </div>
      <div class="clearfix"></div>

    </div>

    <!-- Game Data -->

    <div class="col-md-6">

      <% if @game.arcade_machines.any? %>
        <h4>Playable on these Winnitrons:</h4>

        <% @game.arcade_machines.each do |machine| %>
          <%= render "shared/item_card_wide", item: machine, width: 450 %>
        <% end %>
        <hr/>
      <% end %>


      <h4>Included in these playlists:</h4>
      <% if @game.playlists.any? %>

        <% @game.playlists.each do |playlist| %>
          <%= render "shared/item_card_wide", item: playlist, width: 450 %>
        <% end %>

      <% elsif user_signed_in? %>
        <em><%= @game.title %></em> isn't in any playlists yet.
        Be the first to add it to one:

        <% if current_user.playlists.any? %>
          <div class="dropdown">
            <%= render "shared/add_to_playlist", game: @game %>
          </div>
        <% else %>
          <div>
            <%= link_to "make a new playlist", new_playlist_path %>
          </div>
        <% end %>
      <% end %>

    </div>



  </div>

</div>
