<!--
  GAME VIEW
-->

<%= render "shared/detail_header", image: @game.cover_image.url, title: @game.title, description: @game.description %>

<div class="game detail">

  <!-- Other Info -->

    <div class="row">

      <div class="col-xs-12">
        <%= render "edit_buttons", game: @game %>
      </div>

      <!-- Metadata -->
      <div class="col-lg-6">

        <div class="row">
          <h4>
            <%=
            if @game.min_players == @game.max_players
              pluralize(@game.min_players, "player")
            else
              "#{@game.min_players}-#{@game.max_players} players"
            end
            %>
          </h4>
        </div>

        <div class="row">
          <h4>Images</h4>
          <%= render "images/list", imageable: @game %>
        </div>

        <div class="row">
          <h4>Links</h4>
          <% @game.links.each do |link| %>
            <div class="link"><h4><%= link_to link.url, link.url %></h4></div>
          <% end %>
        </div>

        <div class="row">
          <h4><%= @game.users.size > 1 ? "Developers" : "Developer" %></h4>
          <%= render "shared/user_cards", users: @game.users %>
        </div>

        <div class="row">
          <h4>Tags</h4>
          <p><%= @game.tag_list.join(", ") %></p>
        </div>
      </div>

      <div class="col-lg-6">
        <p>Winnitron specific stats</p>
        <p>e.g. What winnitrons it's on</p>
        <p>which playlists it's on</p>
      </div>


  </div>
