<div class="game">
  <% if current_user&.admin? || current_user.owns?(@game) %>
    <div class="pull-right">
      <%= link_to "Edit", edit_game_path(@game) %>
    </div>
  <% end %>

  <%= page_heading :h1, @game.title %>

  <div class="row well">
    <p>
      <%=
        if @game.min_players == @game.max_players
          pluralize(@game.min_players, "player")
        else
          "#{@game.min_players}-#{@game.max_players} players"
        end
      %>
    </p>
    <%= simple_format(@game.description) %>
  </div>

  <div class="row">
    <% @game.links.each do |link| %>
      <div class="link"><h4><%= link_to link.url, link.url %></h4></div>
    <% end %>
  </div>

  <div class="row">
    <% @game.images.each do |image| %>
      <a href="<%= image.url %>" class="screenshot">
        <img src="<%= image.url %>">
      </a>
    <% end %>
  </div>

  <div class="row">
    <h4><%= @game.users.size > 1 ? "Owners" : "Owner" %></h4>
    <% @game.users.each do |user| %>
      <div class="user-card">
        <a href="<%= user_url(user) %>">
          <%= image_tag user.gravatar_url, class: "avatar" %>
          <br>
          <%= user.name %>
        </a>
      </div>
    <% end %>
    <div class="clearfix"></div>
  </div>
  <div class="row">
    <h4>Tags</h4>
    <p><%= @game.tag_list.join(", ") %></p>
  </div>
</div>