<h1><%= @game.title %></h1>

<div class="well"><%= simple_format(@game.description) %></div>

<p>Added by <%= @game.users.first.name %></p>
<% if @game.website %>
  <p>Website: <%= link_to @game.website, @game.website %></p>
<% end %>
<p><%= @game.tag_list.join(", ") %></p>



<% if current_user&.admin? || current_user.owns?(@game) %>
  <%= link_to "Edit", edit_game_path(@game) %>
<% end %>