<%= page_heading :h1, "#{@game.title} play session stats" %>

<div class="col-lg-12">
  <p>&nbsp;</p>

  <div class="col-sm-12">
    <div class="pull-right">
      Download as:
      <a href="stats.json">json</a> or
      <a href="stats.csv">csv</a>
    </div>

    <form>
      <label>Dates:</label>
      <input type="date" name="start" value="<%= @start %>">
      to
      <input type="date" name="stop"  value="<%= @stop %>">
      <input type="submit" value="update">
    </form>

    <% if @plays.empty? %>
      <p>&nbsp;</p>
      <div class="alert alert-warning col-sm-8">
        Sorry, no game session data found for that date range.
      </div>
    <% end %>
  </div>

  <div class="col-sm-12">
    <div id="timeline"></div>
  </div>

  <% if @total > 0 %>
    <div class="col-sm-12 text-center">
      <h2>
        <em><%= @game.title %></em> has been played for a total of
        <br>
        <strong>
          <%= precise_duration_in_words(@total) %>!
        </strong>
      </h2>
    </div>
  <% end %>
</div>


<%
  data = @plays.map do |play|
    {
      winnitron: play.arcade_machine.title,
      start: play.start,
      stop: play.stop,
    }
  end
%>

<script>
  var data = <%=raw data.to_json %>;
  google.charts.load("current", {packages:["timeline"]});
  google.charts.setOnLoadCallback(drawChart);
  function drawChart() {
    parsed = data.map(function(play) {
      return [
        play.winnitron,
        "",
        tooltipHTML(play),
        new Date(play.start),
        new Date(play.stop),
      ]
    });

    var container = document.getElementById('timeline');
    var chart = new google.visualization.Timeline(container);
    var dataTable = new google.visualization.DataTable();
    dataTable.addColumn({ type: 'string', id: 'Winnitron' });
    dataTable.addColumn({ type: 'string', id: 'dummy bar label' });
    dataTable.addColumn({ type: 'string', role: 'tooltip', 'p': { 'html': true } });
    dataTable.addColumn({ type: 'datetime', id: 'Start' });
    dataTable.addColumn({ type: 'datetime', id: 'Stop' });
    dataTable.addRows(parsed);

    var options = {
      timeline: { showRowLabels: true },
      avoidOverlappingGridLines: false,
      tooltip: { isHtml: true }
    };

    chart.draw(dataTable, options);
  }

  function tooltipHTML(play) {
    var start = new Date(play.start);
    var stop = new Date(play.stop);
    var duration = (stop - start) / 1000 / 60

    var tooltip = "<div class='timeline-tooltip'><strong>" +
      $.datepicker.formatDate('M d', start) + "</strong><br>" +
      start.getHours() + ":" + start.getMinutes() + "-" +
      stop.getHours() + ":" + stop.getMinutes() + "<br>" +
      duration + " minutes"
    "</div>"

    console.log(tooltip);
    return tooltip;

  }
</script>