<%= form_for(@arcade_machine, html: { class: "machine form form-horizontal" }) do |f| %>
  <%= render "shared/errors", object: @arcade_machine %>

  <div class="form-group">
    <%= f.label :title, class: "col-sm-3 control-label" %>
    <div class="col-sm-9">
      <%= f.text_field :title, required: true, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :location, class: "col-sm-3 control-label" %>
    <div class="col-sm-9">
      <%= f.text_field :location, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :description, class: "col-sm-3 control-label" %>
    <div class="col-sm-9">
      <%= f.text_area :description, class: "form-control" %>
    </div>
  </div>

  <%= render "shared/links_form", f: f %>
  <%= f.hidden_field :uuid %>
  <input type="submit" id="submit" class="hidden">
<% end %>

<div>
  <div class="col-sm-3"></div>
  <div class="col-sm-9">
    <div class="panel panel-default">
      <div class="panel-heading">Images</div>
      <div class="panel-body">
        <div class="row current-images">
          <% @arcade_machine.images.each do |image| %>
            <a href="<%= image.url %>" class="screenshot">
              <img src="<%= image.url %>">
            </a>
          <% end %>
        </div>

        <div class="row">
          <%=
            render "shared/uploader",
              form_id: "image-uploader",
              label: "Upload:",
              form_options: { callback_url: create_image_url(uuid: @arcade_machine.uuid),
                              key: "arcade_machines/#{@arcade_machine.uuid}-image-${filename}",
                              key_starts_with: "arcade_machines/",
                            },
              additional_data: { parent_type: "arcade_machine" },
              accept_filetypes: "image/*"
          %>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="actions form-group">
  <div class="col-sm-offset-3 col-sm-9">
    <%= button_tag "Save Winnitron", class: "machine-save btn btn-success" %>
  </div>
</div>
