<%= form_for(@arcade_machine, html: { class: "form form-horizontal" }) do |f| %>
  <%= render "shared/errors", object: @arcade_machine %>

  <div class="form-group">
    <%= f.label :name, class: "col-sm-3 control-label" %>
    <div class="col-sm-9">
      <%= f.text_field :name, required: true, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :location, class: "col-sm-3 control-label" %>
    <div class="col-sm-9">
      <%= f.text_field :location, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :description, class: "col-sm-3 control-label" %>
    <div class="col-sm-9">
      <%= f.text_area :description, class: "form-control" %>
    </div>
  </div>

  <%= f.nested_fields_for :links do |lf| %>
    <div class="form-group">
      <label class="col-sm-3 control-label">Link</label>
      <div class="col-sm-3">
        <%= lf.collection_select :link_type, Link::TYPES, :to_s, :to_s, {}, class: "form-control" %>
      </div>
      <div class="col-sm-5">
        <%= lf.text_field :url, class: "form-control" %>
      </div>
      <div class="col-sm-1">
        <%= lf.remove_nested_fields_link %>
      </div>
    </div>
  <% end %>
  <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-2 pull-right">
      <%= f.add_nested_fields_link :links, "Add another link" %>
    </div>
  </div>

  <div class="actions form-group">
    <div class="col-sm-offset-3 col-sm-9">
      <%= f.submit "Save Winnitron", class: "btn btn-success" %>
    </div>
  </div>
<% end %>
