<%= render "breadcrumbs", active: :details %>

<%= form_for(@arcade_machine, html: { class: "machine form form-horizontal" }) do |f| %>
  <%= render "shared/errors", object: @arcade_machine %>

  <div class="form-group">
    <%= f.label :title, class: "col-sm-2 control-label" %>
    <div class="col-sm-7">
      <%= f.text_field :title, required: true, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :location, class: "col-sm-2 control-label" %>
    <div class="col-sm-7">
      <%= f.text_field :location, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :description, class: "col-sm-2 control-label" %>
    <div class="col-sm-7">
      <%= f.text_area :description, class: "form-control" %>
    </div>
  </div>

  <%= render "shared/links_form", f: f %>


  <div class="actions form-group">
    <div class="col-sm-offset-2 col-sm-7">
      <%= f.submit "Save Winnitron", class: "machine-save btn btn-success" %>
    </div>
  </div>

<% end %>
