<%= render "breadcrumbs", active: :details %>

<%= form_for(@arcade_machine, html: { class: "machine form mt-5" }) do |f| %>
  <div class="offset-sm-2 col-sm-6">
    <%= render "shared/errors", object: @arcade_machine %>
  </div>

  <div class="row form-group">
    <%= f.label :title, class: "col-sm-2 control-label" %>
    <div class="col-sm-6">
      <%= f.text_field :title, required: true, class: "form-control" %>
    </div>
  </div>

  <div class="row form-group">
    <%= f.label :description, class: "col-sm-2 control-label" %>
    <div class="col-sm-6">
      <%= f.text_area :description, class: "form-control" %>
    </div>
  </div>

  <div class="row form-group">
    <%= f.label :players, class: "col-sm-2 control-label" %>
    <div class="col-sm-1">
      <%= f.number_field :players, required: true, class: "form-control", min: 2, max: 4 %>
    </div>
  </div>

  <div class="row form-group">
    <%= f.label :location, class: "col-sm-2 control-label" %>
    <div class="col-sm-4">
      <%= f.fields_for :location do |lf| %>
        <%= lf.text_area :address, class: "form-control mb-1", rows: 2, placeholder: "Address" %>
        <%= lf.text_field :city, class: "form-control mb-1", placeholder: "City" %>
        <%= lf.text_field :state, class: "form-control mb-1", placeholder: "State/Province" %>
        <%= lf.text_field :country, class: "form-control mb-1", placeholder: "Country" %>
      <% end %>


      <%= f.check_box :mappable %>
      <label for="arcade_machine_mappable" class="control-label">
        Show this Winnitron on <%= link_to "the map", map_arcade_machines_path %>
      </label>
    </div>
  </div>

  <%= render "shared/links_form", f: f %>


  <div class="actions mt-3">
    <div class="offset-sm-6">
      <%= f.submit "Save Winnitron", class: "machine-save btn btn-success col-sm-4" %>
    </div>
  </div>

<% end %>