<div class="machines row">

  <% arcade_machines.each do |machine| %>
    <div class="col-lg-4 col-sm-6 portfolio-item">
      <div class="card h-100">
        <a href="<%= arcade_machine_path(machine) %>">
          <span class="card-img-container">
            <img class="card-img" src="<%= machine.cover_image.url(w: 340, h: 200) %>" alt="<%= machine.title %>" title="<%= machine.title %>">
          </span>

          <div class="row">
            <div class="col-sm-7">
              <h4><%= machine.title %></h4>
            </div>

            <div class="col-sm-5 text-right">
              <%= (machine.location || "").split("\n").first %>
            </div>
          </div>

        </a>
      </div>

    </div>
  <% end %>

</div> <!-- /.row -->
