<%= page_heading :h1, @arcade_machine.title %>

<%= render "breadcrumbs", active: :images %>

<div class="col-sm-offset-1 col-sm-9">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row current-images">
        <% @arcade_machine.images.each do |image| %>
          <a href="<%= image.url %>">
            <img src="<%= image.url(w: 150, h: 150) %>">
          </a>
        <% end %>
      </div>

      <div class="row">
        <%=
          render "shared/uploader",
              form_id: "image-uploader",
              label: "Upload:",
              form_options: { callback_url: images_url,
                              key: "arcade_machines/#{@arcade_machine.id}-image-${filename}",
                              key_starts_with: "arcade_machines/",
                            },
              additional_data: { parent_type: "ArcadeMachine", parent_id: @arcade_machine.id },
              accept_filetypes: "image/*"
        %>
      </div>
    </div>
  </div>
</div>
<div class="clearfix"></div>

<div class="col-sm-offset-8 col-sm-2">
  <%= link_to "Done", @arcade_machine, class: "btn btn-success pull-right" %>
</div>