<h1>Winnitrons</h1>
<p><em>as far as the eye can see</em></p>

<p>
  <%= link_to "Add your Winnitron!", new_arcade_machine_path, class: "btn btn-success" %>
</p>

<table class="table table-condensed">
  <tbody>

    <% mine, theirs = @arcade_machines.partition { |am| user_signed_in? && current_user.owns?(am) } %>

    <tr>
      <td colspan="3">MY WINNITRONS!</td>
    </tr>

    <% mine.each do |arcade_machine| %>
      <tr>
        <td><strong><%= link_to arcade_machine.name, arcade_machine_path(arcade_machine) %></strong></td>
        <td><%= arcade_machine.location %></td>
      </tr>
    <% end %>


    <tr><td colspan="3">&nbsp;</td></tr>
    <tr>
      <td colspan="3">EVERYONE ELSE'S WINNITRONS!</td>
    </tr>

    <% theirs.each do |arcade_machine| %>
      <tr>
        <td><strong><%= link_to arcade_machine.name, arcade_machine_path(arcade_machine) %></strong></td>
        <td><%= arcade_machine.location %></td>
      </tr>
    <% end %>


  </tbody>
</table>

