<%= page_heading :h1, @arcade_machine.name %>
<p><%= @arcade_machine.location %></p>
<p><%= @arcade_machine.description %></p>


<p>
  <strong>Those responsible</strong>
  <ul>
    <% @arcade_machine.users.each do |user| %>
      <li><%= link_to user.name, user %></li>
    <% end %>
  </ul>
</p>

<% if user_signed_in? && (current_user.admin? || current_user.owns?(@arcade_machine)) %>
  <p>
    <strong>API Keys</strong>
    <ul>
      <% @arcade_machine.api_keys.each do |key| %>
        <li><%= key.token %></li>
      <% end %>
    </ul>
  </p>
<% end %>

<h2>Playlists</h2>

<table class="table table-condensed">
  <% @arcade_machine.playlists.each do |playlist| %>
    <% subscription = Subscription.find_by(playlist: playlist, arcade_machine: @arcade_machine) %>
    <tr>
      <td><%= link_to playlist.title, playlist %></td>
      <td><%= link_to "remove", subscription_path(subscription), method: :delete %></td>
    </tr>
  <% end %>
</table>

<% if current_user&.admin? || current_user.owns?(@arcade_machine) %>
  <%= link_to "Edit", edit_arcade_machine_path(@arcade_machine) %>
<% end %>