<p id="notice"><%= notice %></p>

<h1><%= @arcade_machine.name %></h1>
<p><%= @arcade_machine.location %></p>
<p><%= @arcade_machine.description %></p>


<p>
  <strong>Owners</strong>
  <ul>
    <% @arcade_machine.users.each do |user| %>
      <li><%= user.email %></li>
    <% end %>
  </ul>
</p>
<%= link_to 'Edit', edit_arcade_machine_path(@arcade_machine) %> |
<%= link_to 'Back', arcade_machines_path %>
