<p id="notice"><%= notice %></p>

<h1><%= @arcade_machine.name %></h1>
<p><%= @arcade_machine.location %></p>
<p><%= @arcade_machine.description %></p>


<p>
  <strong>Owners</strong>
  <ul>
    <% @arcade_machine.users.each do |user| %>
      <li><%= user.name %></li>
    <% end %>
  </ul>
</p>

<% if user_signed_in? && (current_user.admin? || current_user.owns?(@arcade_machine)) %>
  <p>
    <strong>API Keys</strong>
    <ul>
      <% @arcade_machine.api_keys.each do |key| %>
        <li><%= key.token %></li>
      <% end %>
    </ul>
  </p>
<% end %>

<h2>Games</h2>

<table class="table table-condensed">
  <% @arcade_machine.games.each do |game| %>
    <% install = Installation.find_by(game: game, arcade_machine: @arcade_machine) %>
    <tr>
      <td><%= link_to game.title, game %></td>
      <td><%= link_to "remove", installation_path(install), method: :delete %></td>
    </tr>
  <% end %>
</table>

<% if current_user.admin? || current_user.owns?(@arcade_machine) %>
  <%= link_to "Edit", edit_arcade_machine_path(@arcade_machine) %>
<% end %>