<div class="row col-lg-9">

  <%= page_heading :h2, @user.name %>

  <%= form_for(@user, url: admin_user_path(@user), html: { method: :put, class: "form" }) do |f| %>

    <div class="row form-group">
      <%= f.label :name, class: "col-sm-3 control-label" %>
      <div class="col-sm-9">
        <%= f.text_field :name, required: true, class: "form-control" %>
      </div>
    </div>

    <div class="row form-group">
      <%= f.label :email, class: "col-sm-3 control-label" %>
      <div class="col-sm-9">
        <%= f.email_field :email, required: true, class: "form-control" %>
      </div>
    </div>

    <div class="actions from-group">
      <div class="col-sm-offset-3 col-sm-9">
        <%= f.submit "Update", class: "btn btn-success" %>
      </div>
    </div>
  <% end %>


</div>