<%= form_for(@playlist, html: { class: "form" }) do |f| %>

  <%= render "shared/errors", object: @playlist %>

  <div class="row form-group">
    <%= f.label :title, class: "col-sm-2 control-label" %>
    <div class="col-sm-7">
      <%= f.text_field :title, required: true, class: "form-control" %>
    </div>
  </div>
  <div class="row form-group">
    <%= f.label :description, class: "col-sm-2 control-label" %>
    <div class="col-sm-7">
      <%= f.text_area :description, class: "form-control" %>
    </div>
  </div>

  <% if @playlist.games.any? %>
    <div class="row form-group">
      <label class="col-sm-2 control-label">Games</label>

      <div class="col-lg-offset-2 col-lg-7 pl-0">
        <% @playlist.games.each do |game| %>

          <div class="game-card-small p-0 ml-3 mb-3" style="background-image: url('<%= game.cover_image.url(w: 340, h: 200) %>')">
            <a href="<%= game_path(game) %>">
              <h4 class="p-3">
                <%= game.title %>
              </h4>
            </a>
          </div>

          <%= hidden_field_tag "playlist[game_id]", game.id %>
        <% end %>
      </div>
    </div>
  <% end %>

  <div class="actions form-group">
    <div class="offset-sm-2">
      <%= f.submit "Save", class: "btn btn-success" %>
    </div>
  </div>
<% end %>
