<div class="playlists row">

  <% playlists.each do |playlist| %>

    <div class="col-lg-4 col-sm-6 portfolio-item">
      <div class="card h-100 active">
        <span class="card-img-container">
          <img class="card-img" src="<%= playlist.cover_image.url(w: 340, h: 200) %>" alt="<%= playlist.title %>" title="<%= playlist.title %>">
        </span>

        <div class="card-img-overlay">
          <h4 class="card-title text-center invisible">
            <a href="<%= playlist_path(playlist) %>" class=""><%= playlist.title %></a>
          </h4>
        </div>

        <%= render "card_controls", playlist: playlist %>
      </div>


    </div>
  <% end %>

</div>
