<%= page_heading :h1, 'Playlists' %>

<div>
  <%= link_to "Make a new playlist!", new_playlist_path, class: "btn btn-success" %>
</div>

<div class="playlists col-lg-12">

  <div class="playlist-list col-lg-4">
    <h3>&nbsp;</h3>
    <% if user_signed_in? && current_user.playlists.any? %>
      <%= render partial: "shared/playlist_list", locals: { playlists: current_user.playlists } %>
      <p>&nbsp;</p>
    <% end %>
    <%= render partial: "shared/playlist_list", locals: { playlists: (@playlists - current_user.playlists) } %>
  </div>


  <% if user_signed_in? %>

    <div class="dragem col-lg-3">
      drag 'em →
    </div>

    <div class="winnitron-list col-lg-4">
      <h3>my winnitrons</h3>
      <% current_user.arcade_machines.each do |winnitron| %>
        <div class="row">
          <div class="winnitron" data-winnitron-id="<%= winnitron.id %>">
            <a href="" class="collapse-arrow">►</a>
            <%= link_to winnitron.name, winnitron %>
            <ul class="the-playlists">
              <% winnitron.playlists.each do |list| %>
                <li><%= link_to list.title, list %></li>
              <% end %>
            </ul>
          </div>
        </div>
      <% end %>
    </div>

  <% end %>

</div>
