<p id="notice"><%= notice %></p>

<h1><%= @playlist.title %></h1>

<table class="table table-condensed">
  <% @playlist.games.each do |game| %>
    <% listing = Listing.find_by(game: game, playlist: @playlist) %>
    <tr>
      <td><%= link_to game.title, game %></td>
      <td><%= link_to "remove", listing_path(listing), method: :delete %></td>
    </tr>
  <% end %>
</table>
 
<%= link_to 'Edit', edit_playlist_path(@playlist) %> |
<%= link_to 'Back', playlists_path %>
