<% content_for(:title) { @playlist.title } %>

<div class="float-right">
  <%= render "edit_buttons", playlist: @playlist %>
</div>

<h1 class="mt-4 mb-3">
  <%= @playlist.title %>
</h1>

<div class="float-right text-right">
  <a href="<%= user_url(@playlist.user) %>">
    <img src="<%= @playlist.user.gravatar_url(size: 100) %>">
    <br>
    <%= @playlist.user.name %>
  </a>
</div>

<div class="row mb-3">
  <div class="col-lg-8">
    <%= simple_format(@playlist.description) %>
  </div>
</div>

<div class="clearfix"></div>

<div>
  <% @playlist.games.each do |game| %>
    <div class="col-lg-2"></div>
    <%= render "games/card_small", game: game %>
  <% end %>
</div>
