<!--
PLAYLIST DETAIL VIEW
-->

<%= render "shared/detail_header", image: @playlist.cover_image.url(w: 980), title: @playlist.title, description: @playlist.description %>

<div class="playlist detail">

  <div class="row">

    <!-- Metadata -->
    <div class="col-md-6">

      <!-- Game Description -->
      <div class="detail-description">
        <%= simple_format(@playlist.description) %>

        <!-- Edit Buttons -->
        <div class="detail-edit-buttons">
          <%= render "edit_buttons", playlist: @playlist %>
        </div>
      </div>

      <hr />

      <div class="col-md-12">
        <h4>
          Creator
        </h4>
        <%= render "shared/item_cards_square",
          item_name: @playlist.user.name,
          item_info: "",
          item_link: user_url(@playlist.user),
          item_image_url: @playlist.user.gravatar_url
        %>
      </div>

      <div class="clearfix"></div>


    </div>


    <!-- Games Listing -->
    <div class="col-md-6">

      <h4>Games</h4>
      <% @playlist.games.each do |game| %>
        <% listing = Listing.find_by(game: game, playlist: @playlist) %>

        <%=
          render "shared/item_card_wide", item: game, actions_partial: "playlists/games_actions"
        %>

      <% end %>
    </div>



  </div>

</div>
