<%
title = [yield(:title), "The Winnitron Network"].reject(&:blank?).join(" - ")
image = if content_for?(:image)
          yield(:image)
        else
          asset_url("winnitron1000.jpg")
        end
%>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <meta property="og:title" content="<%= title %>">
  <meta property="og:site_name" content="The Winnitron Network">
  <meta property="og:description" content="The indie game and arcade machine network!">
  <meta property="og:image" content="<%= image %>">
  <meta property="og:url" content="<%= request.original_url %>">

  <meta property="twitter:title" content="<%= title %>">
  <meta property="twitter:site_name" content="@winnitron1000">
  <meta property="twitter:description" content="The indie game and arcade machine network!">
  <meta property="twitter:image" content="<%= image %>">
  <meta property="twitter:card" content="summary">

  <title><%= yield(:title) || "The Winnitron Network" %></title>

  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag "application", :media => "all" %>

  <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>

  <%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
  <%= javascript_include_tag "application" %>

</head>