<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>
    <% if content_for?(:title) %>
      <%= yield(:title) %> - The Winnitron Network
    <% else %>
      The Winnitron Network
    <% end %>
  </title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag "application", :media => "all" %>

  <!-- For all other devices -->
  <!-- Size should be 32 x 32 pixels -->
  <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>

  <%= javascript_include_tag "//www.gstatic.com/charts/loader.js" %>
  <%= javascript_include_tag "application" %>

</head>