<!DOCTYPE html>
<html lang="en">

  <%= render "layouts/head" %>

  <body>

    <!--
    <form  action="<%= search_path %>" method="GET"  class="navbar-form navbar-left">
          <div class="row form-group">
            <input type="text" class="form-control" placeholder="Search games" name="kw" value="<%= params['kw'] %>">
            <button type="submit" class="btn btn-default">🔍</button>
          </div>
        </form>
    -->

    <!-- Navigation -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="/">The Winnitron Network</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/games">Games</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/arcade_machines">Winnitrons</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/playlists">Playlists</a>
            </li>

            <% if user_signed_in? %>

              <% if current_user.admin? %>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Admin
                  </a>
                  <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="/admin/users">Users</a>
                    <a class="dropdown-item" href="/admin/approval_requests">Approval Requests</a>
                  </div>
                </li>
              <% end %>

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Account
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                  <%= link_to "Edit Profile", edit_user_registration_path, class: "dropdown-item" %>
                  <%= link_to "Sign Out", destroy_user_session_path, class: "dropdown-item", method: :delete  %>
                </div>
              </li>

            <% end %>

          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container content">

      <%= yield %>

    </div> <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark mt-5">
      <div class="container">
        <a href="/contact">contact</a>
      </div>
      <!-- /.container -->
    </footer>


  </body>


  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', '<%= ENV["GOOGLE_ANALYTICS_TRACKING_ID"] %>', 'auto');
    ga('send', 'pageview');

  </script>
</html>
