<!DOCTYPE html>
<html lang="en">
  <%= render "layouts/head" %>
  <body>

    <div class="container-fluid">
      <div class="row">

        <!-- Sidebar -->
        <% if user_signed_in? %>
          <div class="col-md-3" id="pane-sidebar">
            <div class="sidebar-nav">
              <%= render "shared/sidebar" %>
            </div>
          </div>
          <div class="col-md-9" id="pane-content">
            <%= render "shared/navbar" %>
            <% # bootstrap_flash %>
            <%= yield %>
          </div>
        <% else %>
          <!-- Sidebar doesn't show if not signed in -->
          <div class="col-md-12">
            <% # bootstrap_flash %>
            <%= yield %>
          </div>
        <% end %>


      </div><!--/row-->

      <!--
      <span class="pull-right">
        problems? feedback? <a href="https://twitter.com/winnitron1000">twitter</a>. <a href="https://github.com/winnitron/winnitron_reborn/issues">github</a>.
      </span>
    -->

    </div> <!-- /container -->

  </body>
</html>
