<!DOCTYPE html>
<html>
<head>
  <title>Winnitron Reborn</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  
  <header>
    <em>i'm so glad you're here, <%= current_user&.name&.downcase || "uh, you." %></em>
    <br>
    <%= link_to "home", root_path %>
    <% if user_signed_in? %>
      <%= link_to "my account", edit_user_registration_path %>
      <%= link_to "sign out", destroy_user_session_path, method: :delete %>
    <% end %>
  </header>  

  <%= yield %>

</body>
</html>
