<!DOCTYPE html>
<html lang="en">
  <%= render "layouts/head" %>
  <body>

    <div class="container-fluid">
      <div class="row">
        <%= render "shared/navbar" %>

        <!-- Sidebar -->
        <% if user_signed_in? %>
          <div class="col-md-3" id="pane-sidebar">
            <div class="sidebar-nav">
              <%= render "shared/sidebar" %>
            </div>
          </div>
          <div class="col-md-9" id="pane-content">
            <% # bootstrap_flash %>
            <%= yield %>
          </div>
        <% else %>
          <!-- Sidebar doesn't show if not signed in -->
          <div class="col-md-12">
            <% # bootstrap_flash %>
            <%= yield %>
          </div>
        <% end %>


      </div><!--/row-->

      <footer>
        &nbsp;
      </footer>

    </div> <!-- /container -->

  </body>
</html>
